---
version: 2.1

jobs:
  tests:
    docker:
      - image: cimg/node:18.12.1
        environment:
          NODE_ENV: test
          YARN_ENABLE_IMMUTABLE_INSTALLS: false
    steps:
      - setup_remote_docker
      - run: |
          sudo corepack enable
          corepack prepare yarn@4.0.2 --activate
          echo "nodeLinker: node-modules" > .yarnrc.yml
          yarn init
      - run: yarn add --dev middleware-development@laboperator-gmbh/middleware-development#$CIRCLE_SHA1
      - run: yarn middleware init
      - run: yarn middleware test
      - run: yarn middleware compile
      - run: yarn middleware clean
      - run: yarn middleware build test

workflows:
  version: 2

  tests:
    jobs:
      - tests
